body {
    font-family: sans-serif;
    line-height: 135%
}

h1 {
    text-align: center;
    font-weight: normal;
    counter-reset: niveau1;
}

h2 {
    font-weight: normal;
    counter-increment: niveau2;
    counter-reset: niveau3;
}

h2:before {
    content: counter(niveau2) ") ";
}

h3 {
    font-weight: normal;
    counter-increment: niveau3;
}

h3:before {
    content: counter(niveau3, lower-alpha) ") ";
}

p {
    text-align: justify;
}

div.exercice {
    counter-increment: counterExo;
    width: 650px;
    margin: 5px auto;
    border: 1px solid blue;
    padding: 5px;
}

div.exercice:before {
    font-weight: bold;
    content: "Exercice " counter(counterExo) ".\a";
    white-space: pre;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

li {
    text-align: justify;
}

ol.sous-num {
    list-style-type: lower-alpha;
}

div.main {
    margin: auto;
    width: 60%;
    min-width: 660px;
}

div.algo {
    width: 650px;
    max-width: 95%;
    margin: auto;
    border: 1px solid gray;
    padding: 5px;
    position: relative;
}

.copier {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 0;
    right: 0;
    cursor: pointer;
}

p.code{
    font-family : monospace;
    font-size : 12pt;
    margin: 2px;
    text-align: left;
}

.mono{
    font-family : monospace;
    font-size : 12pt;
}

.commentaire {
    color: gray;
}

mark.code{
    font-family : monospace;
    font-size: 12pt;
    color: inherit;
    background-color: #f3f3f3;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid gray;
}

.centrer {
    text-align: center;
}

span.frac{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

span.haut{
    display: block;
    text-align: center;
}

span.bas{
    display: block;
    border-top: 1px solid;
    text-align: center;
}
